<nav class="nav-primary" id="js-menu-target">
	<ul class="level-1">
		<li class="selected">
			<a href="about-us.html">За нас</a>
		</li>
		<li class="dropdown-trigger">
			<a href="companies.html">Дружества</a> <!-- href="companies.html"? -->
			<ul class="level-2">
				<li><a href="#">ЧЕЗ ЕЛЕКТРО</a></li>
				<li><a href="#">ЧЕЗ РАЗПРЕДЕЛЕНИЕ</a></li>
				<li><a href="#">ЧЕЗ БЪЛГАРИЯ</a></li>
				<li><a href="#">ЧЕЗ ИКТ</a></li>
				<li><a href="#">ЧЕЗ ИКТ България</a></li>
				<li><a href="#">ЧЕЗ Трейд</a></li>
				<li><a href="#">ЧЕЗ ЕСКО</a></li>
				<li><a href="#">ФЕПО</a></li>
			</ul>
		</li>
		<li>
			<a href="contacts.html">Контакти</a>
		</li>
		<li>
			<a href="FAQ.html">Често задавани въпроси</a>
		</li>
		<li>
			<a href="connections.html">Външни връзки</a>
		</li>
	</ul>
</nav>
