
<div class="page-overlay"></div>
<div class="main-head">
	<div class="background">
		<img src="../../images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">ЗА НАС</h1>
			<h5 class="breadcrumbs">
				<ul>
					<li><a href="#"><span>начало</span></a></li>
					<li><a href="#"><span>за нас</span></a></li>
				</ul>
			</h5>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-body">
		<div class="wrapper">
			<div class="b-about-us">
				<div class="b-text-wall">
					<div class="richtext">
						<h2 class="heading">Компаниите на ЧЕЗ в България</h2>
						<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
							„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица
							„ЧЕЗ Разпределение България” АД е дружеството, което отговаря за поддържането на мрежата и осигуряването на непрекъсната и качествена доставка на електрическа енергия до потребителите в Западна България. Мажоритарен собственик на  „ЧЕЗ Разпределение България” АД е ЧЕЗ а.с. Чешка Република, която притежава 67% от капитала на дружеството. Останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица.
							„ЧЕЗ Трейд България” ЕАД е компания за търговия с електрическа енергия на либерализирания пазар. Дружеството извършва услуги по покупко-продажбата на електроенергия за привилегировани клиенти. „ЧЕЗ Трейд България” ЕАД е създадена през 2005 г. и е един от първите лицензирани търговци на енергийния пазар. Компанията е 100% собственост на ЧЕЗ а.с. Чешка Република.
							„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
						</p>
						<h2 class="heading">Разделяне на дейностите</h2>
						<p class="text">Разделянето на дейностите по разпределение и снабдяване в електроразпределителните дружества беше част от подготовката за пълната либерализация на енергийния пазар в България. Отварянето на енергийния пазар и появата на конкуренция в този сектор  ще предоставят възможност на фирми, различни от монополните, да предлагат доставка на електроенергия за крайните потребители.

							От януари 2007 г. „Електроразпределение Столично” АД, „Електроразпределение София област” АД и „Електроразпределение Плевен” АД разделиха дейностите си по снабдяване и разпределение на електроенергия като по този начин изпълниха законовото си задължение да отделят търговската си дейност от разпределението, с цел осигуряване на условия за пълно отваряне на енергийния пазар. Дружествата прехвърлиха всички дейности по обществено снабдяване с електроенергия в нова компания – „ЧЕЗ Електро България” АД, а дейностите по разпределение останаха в електроразпределителните предприятия (днес „ЧЕЗ Разпределение България” АД).
						</p>
						<h2 class="heading">Компаниите на ЧЕЗ в България</h2>
						<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
							„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица
							„ЧЕЗ Разпределение България” АД е дружеството, което отговаря за поддържането на мрежата и осигуряването на непрекъсната и качествена доставка на електрическа енергия до потребителите в Западна България. Мажоритарен собственик на  „ЧЕЗ Разпределение България” АД е ЧЕЗ а.с. Чешка Република, която притежава 67% от капитала на дружеството. Останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица.
							„ЧЕЗ Трейд България” ЕАД е компания за търговия с електрическа енергия на либерализирания пазар. Дружеството извършва услуги по покупко-продажбата на електроенергия за привилегировани клиенти. „ЧЕЗ Трейд България” ЕАД е създадена през 2005 г. и е един от първите лицензирани търговци на енергийния пазар. Компанията е 100% собственост на ЧЕЗ а.с. Чешка Република.
							„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>