{% extends 'base.html' %}
{%load static i18n%}
{% block content %}
<div class="page-overlay">
</div>

<div class="main-head">
	<div class="background">
		<img src="../../images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">чез електро</h1>
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="#"><span>начало</span></a>
					</li>
					<li>
						<a href="#"><span>дружества</span></a>
					</li>
					<li>
						<a href="#"><span>чез електро</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-body">
		<div class="wrapper">
			<div class="b-cols-wrapper">
				<div class="cols cols-full">
					<div class="col col4of12">
						<div class="sidebar">
							<ul class="sidebar-controls">
								<li class="sidebar-link" id="sidebar-trigger-1">
									<a href="#">съгласие</a>
								</li>
								<li class="sidebar-link" id="sidebar-trigger-2">
									<a href="#">политики</a>
								</li>
								<li class="sidebar-link" id="sidebar-trigger-3">
									<a href="#">права</a>
								</li>
							</ul>
							<div class="b-sidebar-options">
								<div class="sidebar-options sidebar-target-1">
									<div class="textcontent">
										<h2 class="title">Сваляне на документи в различни формати</h2>
										<p class="text">Ей тука, ей тъй, малко приказки за тока, живота, и пълненето на кутийки с текст.</p>
									</div>
									<ul class="sidebar-downloads">
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>

								<div class="sidebar-options sidebar-target-2">
									<div class="textcontent">
										<h2 class="title">тест 2</h2>
										<p class="text"> Тест 123 Тест 456 Тест 789 Тест 987 Тест 654 Тест 321 Тест 123 Тест 456 Тест 789 </p>
									</div>
									<ul class="sidebar-downloads">
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>

								<div class="sidebar-options sidebar-target-3">
									<div class="textcontent">
										<h2 class="title">Тест 3</h2>
										<p class="text">Тест 123 Тест 456 Тест 789 Тест 987 Тест 654 Тест 321 Тест 123 Тест 456 Тест 789</p>
									</div>
									<ul class="sidebar-downloads">
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
										<li class="sidebar-download" >
											<a href="#" download>Име на документ
												<svg aria-hidden="true" class="icon icon-svg">
													<use xlink:href="../../images/svg-sprite.svg#download-icon"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col col8of12">
						<div class="b-companies-details">
							<div class="b-text-wall sidebar-target-1">
								<div class="richtext">
									<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
										„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица
										„ЧЕЗ Разпределение България” АД е дружеството, което отговаря за поддържането на мрежата и осигуряването на непрекъсната и качествена доставка на електрическа енергия до потребителите в Западна България. Мажоритарен собственик на  „ЧЕЗ Разпределение България” АД е ЧЕЗ а.с. Чешка Република, която притежава 67% от капитала на дружеството. Останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица.
										„ЧЕЗ Трейд България” ЕАД е компания за търговия с електрическа енергия на либерализирания пазар. Дружеството извършва услуги по покупко-продажбата на електроенергия за привилегировани клиенти. „ЧЕЗ Трейд България” ЕАД е създадена през 2005 г. и е един от първите лицензирани търговци на енергийния пазар. Компанията е 100% собственост на ЧЕЗ а.с. Чешка Република.
										„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
									</p>
								</div>
							</div>
							<div class="b-text-wall sidebar-target-2">
								<div class="richtext">
									<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
										„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица
										„ЧЕЗ Разпределение България” АД е дружеството, което отговаря за поддържането на мрежата и осигуряването на непрекъсната и качествена доставка на електрическа енергия до потребителите в Западна България. Мажоритарен собственик на  „ЧЕЗ Разпределение България” АД е ЧЕЗ а.с. Чешка Република, която притежава 67% от капитала на дружеството. Останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица.
										„ЧЕЗ Трейд България” ЕАД е компания за търговия с електрическа енергия на либерализирания пазар. Дружеството извършва услуги по покупко-продажбата на електроенергия за привилегировани клиенти. „ЧЕЗ Трейд България” ЕАД е създадена през 2005 г. и е един от първите лицензирани търговци на енергийния пазар. Компанията е 100% собственост на ЧЕЗ а.с. Чешка Република.
										„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
									</p>
								</div>
							</div>
							<div class="b-text-wall sidebar-target-3">
								<div class="richtext">
									<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
										„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица
										„ЧЕЗ Разпределение България” АД е дружеството, което отговаря за поддържането на мрежата и осигуряването на непрекъсната и качествена доставка на електрическа енергия до потребителите в Западна България. Мажоритарен собственик на  „ЧЕЗ Разпределение България” АД е ЧЕЗ а.с. Чешка Република, която притежава 67% от капитала на дружеството. Останалите 33% са собственост на различни миноритарни акционери – юридически и физически лица.
										„ЧЕЗ Трейд България” ЕАД е компания за търговия с електрическа енергия на либерализирания пазар. Дружеството извършва услуги по покупко-продажбата на електроенергия за привилегировани клиенти. „ЧЕЗ Трейд България” ЕАД е създадена през 2005 г. и е един от първите лицензирани търговци на енергийния пазар. Компанията е 100% собственост на ЧЕЗ а.с. Чешка Република.
										„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
