<div class="main-head">
	<div class="background">
		<img src="../../images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">дружества</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="#index.html"><span>начало</span></a></li>
					<li><a href="#companies.html"><span>дружества</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-body">
		<div class="wrapper">
			<div class="b-companies">
				<div class="b-companies-head">
					<h2 class="companies-title">дружества</h2>
					<h4 class="companies-description">Lorem Ipsum Dolor Sit Amet Pastet Mish Mash Paprikash Chesun Banica and Bob with Nadenica</h4>
				</div>
				<div class="boxes boxes-companies">

					<div class="box box-companies">
						<a href="companies-details.html">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>ТЕСТОВ ТЕКСТ ЗА ЗАГЛАВИЕ НА КУТИЙКА</h4>

								<p>Тестов текст за параграфче на кутийка в по-голяма кутийка, в още по-голяма кутийка, която е в много голяма кутийка, която е в кашонче, което е в камионче</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>


					<div class="box box-companies">
						<a href="#">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>ТЕСТОВ ТЕКСТ ЗА ЗАГЛАВИЕ НА КУТИЙКА</h4>

								<p>Тестов текст за параграфче на кутийка в по-голяма кутийка, в още по-голяма кутийка, която е в много голяма кутийка, която е в кашонче, което е в камионче</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>


					<div class="box box-companies">
						<a href="#">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>ТЕСТОВ ТЕКСТ ЗА ЗАГЛАВИЕ НА КУТИЙКА</h4>

								<p>Тестов текст за параграфче на кутийка в по-голяма кутийка, в още по-голяма кутийка, която е в много голяма кутийка, която е в кашонче, което е в камионче</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>


					<div class="box box-companies">
						<a href="#">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>ТЕСТОВ ТЕКСТ ЗА ЗАГЛАВИЕ НА КУТИЙКА</h4>

								<p>Тестов текст за параграфче на кутийка в по-голяма кутийка, в още по-голяма кутийка, която е в много голяма кутийка, която е в кашонче, което е в камионче</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>


					<div class="box box-companies">
						<a href="#">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>ТЕСТОВ ТЕКСТ ЗА ЗАГЛАВИЕ НА КУТИЙКА</h4>

								<p>Тестов текст за параграфче на кутийка в по-голяма кутийка, в още по-голяма кутийка, която е в много голяма кутийка, която е в кашонче, което е в камионче</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>


					<div class="box box-companies">
						<a href="#">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>ТЕСТОВ ТЕКСТ ЗА ЗАГЛАВИЕ НА КУТИЙКА</h4>

								<p>Тестов текст за параграфче на кутийка в по-голяма кутийка, в още по-голяма кутийка, която е в много голяма кутийка, която е в кашонче, което е в камионче</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
