<div class="page-overlay">
</div>
<div class="main-head">
	<div class="background">
		<img src="../../images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">ВЪНШНИ ВРЪЗКИ</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="#"><span>начало</span></a></li>
					<li><a href="#"><span>външни връзки</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<div class="wrapper">
		<div class="body">
			<div class="main-body">
				<div class="b-connections">
					<div class="b-text-wall">
						<div class="richtext">
							<h2 class="heading">Заглавие външни връзки</h2>
							<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
								„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а 
								„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
							</p>
							<p class="text">ЧЕЗ България” ЕАД е създадена в средата на 2005 г., за да изпълнява управленски и поддържащи дейности за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на ЧЕЗ а.с. Чешка Република.  
								„ЧЕЗ Електро България” АД е компанията, която снабдява с електроенергия над 2 милиона крайни потребители, присъединени към електроразпределителната мрежа в Западна България. 67% от компанията се притежават от мажоритарния акционер ЧЕЗ а.с. Чешка Република, а 
								„ЧЕЗ ИКТ България” ЕАД е създадено в средата на 2015 г., за да осигурява комплексни услуги в областта на информационните и комуникационни технологии предимно за всички дружества на ЧЕЗ Груп в България. Дружеството е 100% собственост на „ЧЕЗ Разпределение България“ АД.  
							</p>

						</div>
						<button class="btn btn-primary btn">ВИЖ ПОВЕЧЕ
							<svg aria-hidden="true" class="icon arrow-icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#arrow-icon"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

