<div class="main-head">
	<div class="background">
		<img src="../../images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">контакти</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="#"><span>начало</span></a></li>
					<li><a href="#"><span>контакти</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-body">
		<div class="map" id="js-map" data-pin-url="../../images/cez-map-icon.png">
			<input type="hidden" class="scripts-data js-map-location" data-lat="42.5977082" data-lng="23.321867500000053">
			<input type="hidden" class="scripts-data js-map-location" data-lat="42.5677082" data-lng="23.421867500000053">
			<input type="hidden" class="scripts-data js-map-location" data-lat="42.5377082" data-lng="23.221867500000053">
			<input type="hidden" class="scripts-data js-map-location" data-lat="42.5177082" data-lng="23.171867500000053">
			<input type="hidden" class="scripts-data js-map-location" data-lat="42.2177082" data-lng="23.151867500000053">
			<input type="hidden" class="scripts-data js-map-location" data-lat="42.7177082" data-lng="23.131867500000053">
		</div>
		<div class="page-overlay">
		</div>
		<div class="wrapper">
			<div class="b-contacts">
				<div class="b-contacts-head">
					<h2 class="contacts-title">адреси</h2>
					<h4 class="contacts-description">Lorem Ipsum Dolor Sit Amet Pastet Mish Mash Paprikash Chesun Banica and Bob with Nadenica</h4>
				</div>
				<div class="boxes boxes-contacts">
					<div class="box box-contacts" id="address-1">
						<div class="box-contacts-row">
							<h4>АДРЕС</h4>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#address-icon"></use>
							</svg>
							<p>гр. София 1784, бул. „Ботевградско Шосе” № 159</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#clock-icon"></use>
							</svg>
							<p>(02) 8T8 075</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#phone-icon"></use>
							</svg>
							<p>Понеделник - Петък от 07:00 до 28:00 ч.</p>
						</div>
					</div>


					<div class="box box-contacts" id="address-2">
						<div class="box-contacts-row">
							<h4>АДРЕС</h4>
						</div>

						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#address-icon"></use>
							</svg>
							<p>гр. София 1784, бул. „Ломско Шосе” № 69</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#clock-icon"></use>
							</svg>
							<p>(02) 8T8 075</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#phone-icon"></use>
							</svg>
							<p>Понеделник - Петък от 07:00 до 25:00 ч.</p>
						</div>

					</div>


					<div class="box box-contacts" id="address-3">
						<div class="box-contacts-row">
							<h4>АДРЕС</h4>
						</div>


						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#address-icon"></use>
							</svg>
							<p>гр. София 1784, бул. „Цариградско шосе” № 159</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#clock-icon"></use>
							</svg>
							<p>(02) 8T8 075</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#phone-icon"></use>
							</svg>
							<p>Понеделник - Петък от 07:00 до 19:00 ч.</p>
						</div>
					</div>


					<div class="box box-contacts" id="address-4">
						<div class="box-contacts-row">
							<h4>АДРЕС</h4>
						</div>


						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#address-icon"></use>
							</svg>
							<p>гр. София 1784, бул. „Цариградско шосе” № 159</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#clock-icon"></use>
							</svg>
							<p>(02) 8T8 075</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#phone-icon"></use>
							</svg>
							<p>Понеделник - Петък от 07:00 до 19:00 ч.</p>
						</div>
					</div>


					<div class="box box-contacts" id="address-5">
						<div class="box-contacts-row">
							<h4>АДРЕС</h4>
						</div>


						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#address-icon"></use>
							</svg>
							<p>гр. София 1784, бул. „Цариградско шосе” № 159</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#clock-icon"></use>
							</svg>
							<p>(02) 8T8 075</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#phone-icon"></use>
							</svg>
							<p>Понеделник - Петък от 07:00 до 19:00 ч.</p>
						</div>
					</div>


					<div class="box box-contacts" id="address-6">
						<div class="box-contacts-row">
							<h4>АДРЕС</h4>
						</div>


						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#address-icon"></use>
							</svg>
							<p>гр. София 1784, бул. „Цариградско шосе” № 159</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#clock-icon"></use>
							</svg>
							<p>(02) 8T8 075</p>
						</div>
						<div class="box-contacts-row">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="../../images/svg-sprite.svg#phone-icon"></use>
							</svg>
							<p>Понеделник - Петък от 07:00 до 19:00 ч.</p>
						</div>
					</div>
				</div>

				<div class="form form-basic form-contacts">
					<div class="form-head">
						<p>свържи се с нас</p>
					</div>
					<form action="">
						<div class="form-title">
							<p>Lorem Ipsum Dolor Sit Amet Pastet Mish Mash Paprikash Chesun Banica and Bob with Nadenica Lorem Ipsum Dolor Sit Amet Pastet Mish Mash Paprikash Chesun Banica and Bob with Nadenica</p>
						</div>
						<div class="cols cols-full">
							<div class="col col6of12">
								<div class="form-row">
									<div class="form-controls">
										<div class="field field-default field-contacts">
											<label for="" class=""></label>
											<input type="" name="" id="" placeholder="Име" />
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-controls">
										<div class="field field-default field-contacts">
											<label for="" class=""></label>
											<input type="" name="" id="" placeholder="Email" />
										</div>
									</div>
								</div>
							</div>
							<div class="col col6of12">
								<div class="form-row">
									<div class="form-controls">
										<div class="field field-default field-contacts">
											<label for="" class=""></label>
											<input type="" name="" id="" placeholder="Фамилия" />
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-controls">
										<div class="field field-default field-contacts">
											<label for="" class=""></label>
											<input type="" name="" id="" placeholder="Тема" />
										</div>
									</div>
								</div>
							</div>
							<div class="col col12of12">
								<div class="form-row">
									<div class="form-controls">
										<div class="field field-textarea field-contacts">
											<label for="" class=""></label>
											<textarea name="" id="" cols="100" rows="13" placeholder="Съобщение"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-contacts">Изпрати</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
